{% extends 'base.html' %}

{% load django_bootstrap_breadcrumbs activity_tags action crispy_forms_tags %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Team" "team" %}
  {% breadcrumb member.get_full_name "client-detail" member.email %}
{% endblock %}

{% block content %}
  {{ block.super }}

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h1 class="h1">{{ member.first_name }} {{ member.last_name }}</h1>

        {% crispy form %}

      </div>
      <div class="col-sm">

        <h1 class="h1">&nbsp;</h1>
        <h4 class="h4">Recent Activity</h4>
        {% activity_stream 'actor' member %}

        <ul>
          {% for action in stream|slice:":5" %}
            <li>{% action action %}</li>
          {% endfor %}
          {% if stream %}
            <li><a href="{% url 'client-activity' member.email %}">See all activity...</a></li>
          {% endif %}
        </ul>

      </div>
    </div>
  </div>
{% endblock %}
