{% extends 'av_team/team_base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  {{ block.super }}

  <h1 class="h1">Invite</h1>

  {% if cpa_count >= max_cpa %}

    <p>You have reached your team membership limit.</p>

  {% else %}

    <p>Use the form below to invite a new member to your team.</p>

    {% crispy form %}

  {% endif %}

  <p>You are using {{ cpa_count }} out of {{ max_cpa }} team accounts allowed under your
    <a href="{% url 'plan' %}">current plan.</a>
  </p>

{% endblock %}
