{% extends 'av_team/team_base.html' %}

{% block content %}
  {{ block.super }}

  <h1 class="h1">Members</h1>

  <table class="table">
    <thead class="thead-light">
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Registered</th>
    </tr>
    </thead>
    {% for member in object_list %}
      <tr>
        <td><a href="{{ member.get_absolute_url }}">{{ member.last_name }}</a></td>
        <td><a href="{{ member.get_absolute_url }}">{{ member.first_name }}</a></td>
        <td><a href="{{ member.get_absolute_url }}">{{ member.email }}</a></td>
        <td>{{ member.groups.all.0|capfirst }}</td>
        <td>{% if member.password %} √ {% endif %}</td>
      </tr>
    {% empty %}
      <tr><td>You haven't invited anyone to your firm yet.</td></tr>
    {% endfor %}
  </table>

{% endblock %}