{% extends 'av_emails/base.html' %}

{% block content %}

  <p {% include "av_emails/p_style_snippet.html" %}>
    Congratulations! Your 2017 tax return has been e-filed with the IRS and your local state(s).
  </p>

  <p {% include "av_emails/p_style_snippet.html" %}>
    To track your federal IRS refund, please click <a href="https://www.irs.gov/refunds">here</a>.
  </p>

  <p {% include "av_emails/p_style_snippet.html" %}>
    To track your state refund, please click <a href="https://www.irs.com/articles/find-your-state-tax-refund">here</a>.
  </p>

  <p {% include "av_emails/p_style_snippet.html" %}>
    Please note: If you owe money on your 2017 tax return, you must pay the IRS and your local state(s) by April 17th.
  </p>

  <p {% include "av_emails/p_style_snippet.html" %}>
    To pay the IRS please click <a href="https://www.irs.gov/payments">here</a>.
To locate and pay your local state(s), please click <a href="https://www.irs.com/articles/find-your-state-tax-refund">here</a>.
  </p>

{% endblock content %}
