{% extends 'av_emails/base.html' %}

{% block content %}
  {{ block.super }}
  <p {% include "av_emails/p_style_snippet.html" %}>
    We have received an access request from an untrusted device with IP address: {{ ip }}.
  </p>
  <p {% include "av_emails/p_style_snippet.html" %}>
    If this is you, please use the code {{ user.verification_code }} to log in.
  </p>
  <p {% include "av_emails/p_style_snippet.html" %}>
    If you suspect suspicious activity, you may <a href="{{ site_url }}{% url 'password_reset' %}">reset your password</a> as a precaution.
  </p>
{% endblock content %}
