{% extends 'av_returns/return_detail.html' %}

{% load django_bootstrap_breadcrumbs static %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Tax Return" "downloads" year %}
{% endblock %}


{% block content %}
  <h1 class="h1">Downloads</h1>

  <p>Check here for documents prepared by {{ user.firm }} for you to download.</p>

  <div class="mb-5">
    <ul class="list-group">

      {% for download in downloads %}
        <li class="list-group-item px-1 px-md-2 py-3">
          <div class="file-upload d-flex align-items-center">
            <i class="far fa-file fa-lg"></i>
            <div class="mx-2 truncate"><a href="{{ download.get_absolute_url }}">{{ download.name }}</a></div>
            <div class="mx-2 truncate">{{ download.description }}</div>
            <div class="mx-2 file-upload__size text-nowrap">{{ download.size|filesizeformat }}</div>
            <div class="mx-2">{{ download.date_created|date:"n/d/Y" }}</div>
          </div>
        </li>
      {% endfor %}

    </ul>
  </div>

{% endblock content %}