{% extends 'returns/return_detail.html' %}

{% load django_bootstrap_breadcrumbs static %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Personal Info" "info" year %}
{% endblock %}

{% block content %}
  <h1>Personal Info</h1>

  <div class="row col-md-10 mx-auto mt-4">
    <div class="col-md-3 col-6">
      <div class="card border-0">
        <a class="tx-returns__icon" href="{% url 'info_my' year %}">
          <img class="card-img-top mb-2" src="{% static 'svg/icon_myinfo.svg' %}">
          <div class="card-block">
            <p class="card-text tx-returns__icon-text text-center">My Info</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="card border-0">
        <a class="tx-returns__icon" href="{% url 'info_address' year %}">
          <img class="card-img-top mb-2" src="{% static 'svg/icon_address.svg' %}">
          <div class="card-block">
            <p class="card-text tx-returns__icon-text text-center">Address</p>
          </div>
        </a>
      </div>
    </div>
    {% if spouse %}
    <div class="col-md-3 col-6">
      <div class="card border-0">
        <a class="tx-returns__icon" href="{% url 'info_spouse' year %}">
          <img class="card-img-top mb-2" src="{% static 'svg/icon_spouse.svg' %}">
          <div class="card-block">
            <p class="card-text tx-returns__icon-text text-center">Spouse</p>
          </div>
        </a>
      </div>
    </div>
    {% endif %}
    <div class="col-md-3 col-6">
      <div class="card border-0">
        <a class="tx-returns__icon" href="{% url 'info_dependents' year %}">
          <img class="card-img-top mb-2" src="{% static 'svg/icon_dependents.svg' %}">
          <div class="card-block">
            <p class="card-text tx-returns__icon-text text-center">Dependents</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  
{% endblock content %}