{% extends 'av_returns/return_list.html' %}

{% load static django_bootstrap_breadcrumbs crispy_forms_tags %}

{% comment %}
django_bootstrap_breadcrumbs fails with object.year, so had to add 'year' to context
{% endcomment %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb year "return" year %}
{% endblock %}

{% block tabs %}

  {% url 'expenses' year as expenses %}
  {% url 'uploads' year as uploads %}
  {% url 'spouse' year as spouse %}
  {% url 'dependents' year as dependents %}
  {% url 'downloads' year as returns %}

  <div class="tx-full-width tx-nav-tabs">
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == expenses %}active{% endif %}" href="{{ expenses }} ">
            <div class="tx-nav-icon">
              <i class="far fa-credit-card"></i>
              <span>Expenses</span>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == uploads %}active{% endif %}" href="{{ uploads }} ">
            <div class="tx-nav-icon">
              <i class="far fa-file"></i>
              <span>Uploads</span>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == spouse %}active{% endif %}" href="{{ spouse }} ">
            <div class="tx-nav-icon">
              <i class="fas fa-user-friends"></i>
              <span>Spouse</span>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == dependents %}active{% endif %}" href="{{ dependents }} ">
            <div class="tx-nav-icon">
              <i class="fas fa-users"></i>
              <span>Dependents</span>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == returns %}active{% endif %}" href="{{ returns }} ">
            <div class="tx-nav-icon">
              <i class="far fa-file-alt"></i>
              <span>Downloads</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}

{% block content %}
  <h1 class="h1">Tax Year {{ object.year }}</h1>
  {% crispy form %}
{% endblock content %}