{% extends 'av_returns/return_list.html' %}

{% load static django_bootstrap_breadcrumbs %}

{% comment %}
django_bootstrap_breadcrumbs fails with object.year, so had to add 'year' to context
{% endcomment %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb year "return" year %}
{% endblock %}

{% block tabs %}

  {% url 'expenses' year as expenses %}
  {% url 'uploads' year as uploads %}
  {% url 'spouse' year as spouse %}
  {% url 'dependents' year as dependents %}
  {% url 'downloads' year as returns %}

  <div class="tx-full-width tx-nav-tabs">
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == expenses %}active{% endif %}" href="{{ expenses }} ">Expenses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == uploads %}active{% endif %}" href="{{ uploads }} ">Uploads</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == spouse %}active{% endif %}" href="{{ spouse }} ">Spouse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == dependents %}active{% endif %}" href="{{ dependents }} ">Dependents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == returns %}active{% endif %}" href="{{ returns }} ">Tax Return</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}

{% block content %}
  <h1>Tax Year {{ object.year }}</h1>

  <p class="tx-returns__text mt-4">Return status: <span class="tx-returns__status-text">{{ object.get_return_status_display }}</span></p>

{% endblock content %}