{% extends 'base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Tax Years" "returns" %}
{% endblock %}

{% block content %}
  <h1>Tax Years</h1>
  <ul>
    {% for return in object_list %}
      <li><h3 class="h3"><a href="{% url 'return' return.year %}">Your {{ return.year }} return</a></h3></li>
      {% empty %}
      <li>No years yet.</li>
    {% endfor %}
  </ul>

  <p class="col-md-8">
    <a class="btn btn-primary" href="{% url 'new' %}">Create a new tax year</a>
  </p>

  {% if new_user %}
    <p class="col-md-8">
    </p>
  {% endif %}

{% endblock content %}