{% extends 'av_returns/return_detail.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Uploads" "uploads" year %}
{% endblock %}

{% block content %}
  <h1 class="h1">Uploads</h1>

  <p>Share files with {{ user.firm }} by uploading them here.</p>

  {% if frozen %}
    <div id="upload-manager" data-year="{{ year }}" data-frozen="1"></div>
  {% else %}
    <div id="upload-manager" data-year="{{ year }}"></div>
  {% endif %}

  {{ explanation|safe }}

{% endblock content %}