{% extends 'base-modal.html' %}

{% block breadcrumbs %}
{% endblock %}

{% block content_title %}
  Delete Confirmation
{% endblock content_title %}

{% block modal_content %}

  <form method="post">{% csrf_token %}
    <p>You are about to delete:</p>
    <h3 class="h3 mb-4">{{ object }} {{ object.email }}</h3>
    <p>You cannot undo this action!</p>
    <input type="submit" value="Confirm" class="btn-danger btn" />
    <input type="button" value="Cancel" class="btn btn-secondary" onclick="window.history.back()" />
  </form>

{% endblock modal_content %}