{% extends 'base-modal-form.html' %}

{% block head %}
  {{ block.super }}
  <script>
    gtag('event', 'conversion', {'send_to': 'AW-1033596388/c12tCN-wtIcBEOTb7ewD'});
  </script>

  <!-- Reddit Conversion Pixel -->
  <script>
    var now = Date.now();
    var i = new Image();
    i.src = "https://alb.reddit.com/snoo.gif?q=CAAHAAABAAoACQAAABO9viS0AA==&s=DO6BDa-mwktjkrv_nv_QHWSjNbG76CO-V6Lm4aI7Rq0=&ts=" + now;
  </script>
  <noscript>
    <img height="1" width="1" style="display:none"
         src="https://alb.reddit.com/snoo.gif?q=CAAHAAABAAoACQAAABO9viS0AA==&s=DO6BDa-mwktjkrv_nv_QHWSjNbG76CO-V6Lm4aI7Rq0="/>
  </noscript>
  <!-- End Reddit Conversion Pixel -->
{% endblock head %}

{% block content_title %}
  Welcome
{% endblock %}

{% block modal_form_content %}
  <h3 class="h3 text-center mb-3">Your free trial is now ready!</h3>
  <p>You can begin by inviting some clients to the portal. Use the button below to visit the clients page.</p>

  <p>You may be asked to verify your email address before proceeding. Check your mailbox for an email confirmation link.</p>

  <p class="text-center pt-3">
    <a href="{% url 'clients' %}" class="btn btn-primary">Clients</a>
  </p>

{% endblock %}