{% extends 'base.html' %}
{% load flatpages static %}

{% block nav_styles %}navbar--overlaid{% endblock nav_styles %}

{% block render_breadcrumbs %}{% endblock %}

{% block content_class %}container{% endblock content_class %}

{% block content %}
  <div class="tx-home__hero tx-full-width">
    <div class="container">
      <h1 class="h1 tx-home__hero-header">Sign up now<br/> for your free trial!</h1>
      {% if not user.is_authenticated %}
        <a href="{% url 'register' %}" class="btn btn-primary">
          Free Trial
        </a>
      {% endif %}
    </div>
  </div>
  <div class="tx-home__subhero tx-full-width">
    <div class="container">
      <h2 class="h3 tx-home__subhero__header">Account Vision is your client portal in the cloud.</h2>
    </div>
  </div>
  <div class="tx-steps tx-full-width">
    <div class="container">

      <!-- ****************************** pricing ****************************** -->

      <div class="card-deck mb-3 text-center">

        {% for plan in plans %}

          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">{{ plan.metadata.name }}</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">${{ plan.amount }}
                <small class="text-muted">/ mo<sup>*</sup></small>
              </h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>{{ plan.metadata.max_cpa }} firm member{{ plan.metadata.max_cpa|pluralize }}</li>
                <li>{{ plan.metadata.max_client }} clients</li>
                <li>{{ plan.metadata.support }} support</li>
              </ul>
              <a class="btn btn-lg btn-block btn-primary" href="{% url 'register' %}">Free Trial</a>
              <p class="tx-tiny pt-2 text-muted">* With a yearly subscription discount.<br/>${{ plan.metadata.monthly }} with our monthly plan.</p>
            </div>
          </div>

        {% endfor %}

      </div>


    </div>
  </div>

  <div class="tx-home__features tx-full-width">
    <div class="container">
      <div class="row justify-content-center">

        <div class="tx-feature col-md-7">
          <div class="tx-feature__icon">
            <i class="fas fa-users fa-3x"></i>
          </div>
          <h2>Clients at a glance.</h2>
          <p>Quickly access contact, spouse, and dependent info.</p>
        </div>

        <div class="tx-feature col-md-7">
          <div class="tx-feature__icon">
            <i class="fas fa-users fa-3x"></i>
          </div>
          <h2>Clients at a glance.</h2>
          <p>Quickly access contact, spouse, and dependent info.</p>
        </div>

        <div class="tx-feature col-md-7">
          <div class="tx-feature__icon">
            <i class="fas fa-users fa-3x"></i>
          </div>
          <h2>Clients at a glance.</h2>
          <p>Quickly access contact, spouse, and dependent info.</p>
        </div>

        <div class="tx-feature col-md-7">
          <div class="tx-feature__icon">
            <i class="fas fa-users fa-3x"></i>
          </div>
          <h2>Clients at a glance.</h2>
          <p>Quickly access contact, spouse, and dependent info.</p>
        </div>

      </div>
    </div>
  </div>

  {% comment %}
  {% get_flatpages as flatpages %}

  <div class="tx-home__flatpages tx-full-width">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="tx-home__flatpages__header h6">
            About
          </h5>
          <ul class="tx-home__flatpages__list list-unstyled">
            {% for page in flatpages %}
              <li class="tx-home__flatpages__item">
                <a class="tx-home__flatpages__link" href="{{ page.url }}">{{ page.title }}</a>
              </li>
            {% endfor %}
            <li class="tx-home__flatpages__item">
              <a class="tx-home__flatpages__link" href="#">{% lorem 3 w random %}</a>
            </li>
            <li class="tx-home__flatpages__item">
              <a class="tx-home__flatpages__link" href="#">{% lorem 3 w random %}</a>
            </li>
            <li class="tx-home__flatpages__item">
              <a class="tx-home__flatpages__link" href="#">{% lorem 3 w random %}</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 class="tx-home__flatpages__header h6">
            Tips
          </h5>
          <ul class="tx-home__flatpages__list list-unstyled">
            <li class="tx-home__flatpages__item">
              <a class="tx-home__flatpages__link" href="#">{% lorem 3 w random %}</a>
            </li>
            <li class="tx-home__flatpages__item">
              <a class="tx-home__flatpages__link" href="#">{% lorem 3 w random %}</a>
            </li>
            <li class="tx-home__flatpages__item">
              <a class="tx-home__flatpages__link" href="#">{% lorem 3 w random %}</a>
            </li>
            <li class="tx-home__flatpages__item">
              <a class="tx-home__flatpages__link" href="#">{% lorem 3 w random %}</a>
            </li>
            <li class="tx-home__flatpages__item">
              <a class="tx-home__flatpages__link" href="#">{% lorem 3 w random %}</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 class="tx-home__flatpages__header h6">
            Help
          </h5>
          <ul class="tx-home__flatpages__list list-unstyled">
            <li class="tx-home__flatpages__item">
              <a class="tx-home__flatpages__link" href="#">{% lorem 3 w random %}</a>
            </li>
            <li class="tx-home__flatpages__item">
              <a class="tx-home__flatpages__link" href="#">{% lorem 3 w random %}</a>
            </li>
            <li class="tx-home__flatpages__item">
              <a class="tx-home__flatpages__link" href="#">{% lorem 3 w random %}</a>
            </li>
            <li class="tx-home__flatpages__item">
              <a class="tx-home__flatpages__link" href="#">{% lorem 3 w random %}</a>
            </li>
            <li class="tx-home__flatpages__item">
              <a class="tx-home__flatpages__link" href="#">{% lorem 3 w random %}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endcomment %}
{% endblock content %}