{% extends 'base.html' %}
{% load flatpages static %}

{% block head %}
  {{ block.super }}
  <script>
    window.intercomSettings = {
      app_id: "naqv3tc3"
    };
  </script>
  <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/naqv3tc3';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
  </script>
{% endblock head %}

{% block nav_styles %}navbar--overlaid{% endblock nav_styles %}

{% block render_breadcrumbs %}{% endblock %}

{% block content_class %}container{% endblock content_class %}

{% block content %}

  <!-- *************************************************** hero ********************************************* -->

  <div class="tx-home__hero tx-full-width">
    <div class="container">
      <h1 class="tx-home__logo">Account Vision</h1>
      <h1 class="h1 tx-home__hero-header">Accounting client portal in the cloud.<br/>Share and communicate securely -
        while saving time and effort.</h1>
      {% if not user.is_authenticated %}
        <a href="{% url 'register' %}" class="btn btn-primary">
          Free Trial
        </a>
      {% endif %}
    </div>
  </div>

  <!-- *************************************************** sub hero ********************************************* -->

  <div class="tx-home__subhero tx-full-width">
    <div class="container">
      <h2 class="h3 tx-home__subhero__header">Nothing to configure. Just sign up and invite your clients.</h2>
    </div>
  </div>

  <!-- *************************************************** pricing ********************************************* -->

  <div class="tx-steps tx-full-width">
    <div class="container">

      <div class="card-deck mb-3 text-center">

        {% for plan in plans %}

          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">{{ plan.metadata.name }}</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">${{ plan.amount }}
                <small class="text-muted">/ mo<sup>*</sup></small>
              </h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>{{ plan.metadata.max_cpa }} firm member{{ plan.metadata.max_cpa|pluralize }}</li>
                <li>{{ plan.metadata.max_client }} clients</li>
                <li>{{ plan.metadata.support }} support</li>
              </ul>
              <a class="btn btn-lg btn-block btn-primary" href="{% url 'register' %}">Free Trial</a>
              <p class="tx-tiny pt-2 text-muted">* With a yearly subscription discount.<br/>${{ plan.metadata.monthly }} with our monthly plan.</p>
            </div>
          </div>

        {% endfor %}

      </div>

      <h5 class="h5 text-center">For additional capacity options or customizations <a href="{{ site_url }}{% url 'contact' %}">contact us</a> for pricing.</h5>

    </div>
  </div>

  <!-- *************************************************** features ********************************************* -->

  <div class="tx-home__features tx-full-width">
    <div class="container">

      <div class="row justify-content-center">
        <h2 class="h2 pb-5">Included in every plan:</h2>
      </div>

      <div class="row justify-content-center">
        <div class="tx-feature offset-md-2 col-md-10">
          <div class="tx-feature__icon text-center">
            <i class="fas fa-users fa-3x"></i>
          </div>
          <h2>Clients at a glance.</h2>
          <p>Quickly access contact, spouse, and dependent info.</p>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="tx-feature offset-md-2 col-md-10">
          <div class="tx-feature__icon text-center">
            <i class="fas fa-address-card fa-3x"></i>
          </div>
          <h2>No Data entry.</h2>
          <p>Your clients can enter their own data using simple forms.</p>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="tx-feature offset-md-2 col-md-10">
          <div class="tx-feature__icon text-center">
            <i class="far fa-envelope fa-3x"></i>
          </div>
          <h2>Threaded messaging.</h2>
          <p>Conveniently keep all of your client communications in one place.</p>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="tx-feature offset-md-2 col-md-10">
          <div class="tx-feature__icon text-center">
            <i class="fas fa-th-list fa-3x"></i>
          </div>
          <h2>Expenses made easy.</h2>
          <p>Your clients can create and maintain a list of common expenses.</p>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="tx-feature offset-md-2 col-md-10">
          <div class="tx-feature__icon text-center">
            <i class="far fa-file-alt fa-3x"></i>
          </div>
          <h2>Document sharing.</h2>
          <p>Clients can post and download documents, images, and spreadsheets.</p>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="tx-feature offset-md-2 col-md-10">
          <div class="tx-feature__icon text-center">
            <i class="fas fa-lock fa-3x"></i>
          </div>
          <h2>World class security.</h2>
          <p>Your files are stored secured with 256-bit Advanced Encryption Standard.</p>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="tx-feature offset-md-2 col-md-10">
          <div class="tx-feature__icon text-center">
            <i class="fas fa-comment-alt fa-3x"></i>
          </div>
          <h2>Activity feed.</h2>
          <p>Easily review what your clients have posted or modified.</p>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="tx-feature offset-md-2 col-md-10">
          <div class="tx-feature__icon text-center">
            <i class="fas fa-list-ul fa-3x"></i>
          </div>
          <h2>Activity logs.</h2>
          <p>Client and firm activity is logged for an additional layer of security.</p>
        </div>
      </div>

      {% comment %}
        <div class="row justify-content-center">
          <div class="tx-feature offset-md-2 col-md-10">
            <div class="tx-feature__icon text-center">
              <i class="fas fa-users fa-3x"></i>
            </div>
            <h2>Multiple users.</h2>
            <p>Share access with your partners or employees.</p>
          </div>
        </div>
      {% endcomment %}

      <div class="row justify-content-center">
        <div class="tx-feature offset-md-2 col-md-10">
          <div class="tx-feature__icon text-center">
            <i class="fas fa-mobile-alt fa-3x"></i>
          </div>
          <h2>Mobile access.</h2>
          <p>All application features are built for access via mobile device.</p>
        </div>
      </div>

    </div>
  </div>

  <div class="text-center pb-5">
    {% if not user.is_authenticated %}
      <a href="{% url 'register' %}" class="btn btn-primary">
        Free Trial
      </a>
    {% endif %}
  </div>

  <div class="tx-home__articles tx-full-width pb-5">
    <div class="container">

      <div class="row justify-content-center">
        <h2 class="h2 pb-5">Recent Articles</h2>
      </div>

      <div class="container">
        <div class="row">

          <div class="col-md-4">

            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Benefits of Client Portal Software for Accountants</h5>
                <p class="card-text">
                  In an increasingly digitized marketplace, client portals represent a vital point of connection for the modern
                  accountant&hellip;
                </p>
                <a href="{% url 'article_benefits' %}" class="btn btn-info">Read now</a>
              </div>
            </div>

          </div>

{#          <div class="col-md-4">#}
{##}
{#            <div class="card" style="width: 18rem;">#}
{#              <div class="card-body">#}
{#                <h5 class="card-title"></h5>#}
{#                <p class="card-text">#}
{#                </p>#}
{#              </div>#}
{#            </div>#}
{##}
{#          </div>#}
{##}
{#          <div class="col-md-4">#}
{##}
{#            <div class="card" style="width: 18rem;">#}
{#              <div class="card-body">#}
{#                <h5 class="card-title"></h5>#}
{#                <p class="card-text">#}
{#                </p>#}
{#              </div>#}
{#            </div>#}
{##}
{#          </div>#}

        </div>
      </div>

    </div>
  </div>

{% endblock content %}