{% extends 'base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Users" "cpa-user" %}
{% endblock %}

{% block content %}
  <h1>Select a User</h1>

  <div class="list-group col-md-8 mb-4">
    {% for user in users %}
      <a class="list-group-item list-group-item-action" href="{% url 'cpa-return' user.id %}">
        {{ user.id }}
        {{ user.first_name }}
        {{ user.last_name }}
        {{ user.email }}
      </a>
    {% endfor %}
  </div>

{% endblock content %}
