.tx-returns__text {
  @extend %acumin-regular;
}

.tx-returns__status-text {
  @extend %acumin-regular;
  color: $dull-blue;
}

.tx-returns__icon-text {
  @extend %acumin-semibold;
  color: $dull-blue;
  text-transform: uppercase;
}

.tx-returns__status-left {
  //background-color: $dull-blue;
  background: linear-gradient(to right, $light-blue, $dull-blue);
  border-radius: 30px 0px 0px 30px;
  border-right: 1px solid white;
  height: 60px;
}

.tx-returns__status-middle {
  background-color: $dull-blue;
  border-left: 1px  solid white;
  border-right: 1px solid white;
  height: 60px;
}

.tx-returns__status-right {
  background-color: $dull-blue;
  border-radius: 0px 30px 30px 0px;
  border-left: 1px  solid white;
  height: 60px;
}

.tx-returns__dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.tx-returns__disabled-text {
  color: #c3c3c3;
}

.tx-returns__disabled-bar {
  background-color: #eeeeee;
}

.tx-returns__icon:hover {
  background-color: $light-blue;
}