/*
font placeholders
 */

%roboto-regular {
  font-family: "roboto", $font-family-sans-serif;
  font-weight: 400;
}

%roboto-medium {
  font-family: "roboto", $font-family-sans-serif;
  font-weight: 500;
}

%roboto-bold {
  font-family: "roboto", $font-family-sans-serif;
  font-weight: 700;
}

%acumin-regular {
  font-family: "acumin-pro", $font-family-sans-serif;
  font-weight: 400;
}

%acumin-medium {
  font-family: "acumin-pro", $font-family-sans-serif;
  font-weight: 500;
}

%acumin-semibold {
  font-family: "acumin-pro", $font-family-sans-serif;
  font-weight: 600;
}

%acumin-bold {
  font-family: "acumin-pro", $font-family-sans-serif;
  font-weight: 700;
}

/*
global
 */

.text-muted {
  color: $lighter-blue !important;
}

strong {
  font-weight: 800;
}

/*
form
 */

form {
  @extend %acumin-regular;

  font-size: .875rem;

  @include from-breakpoint(md) {
    font-size: .9375rem;
  }
}

.form-control {
  font-size: .875rem;
  border: 0;
  background-color: $bg-cool;
  color: $blue;

  @include from-breakpoint(md) {
    font-size: .9375rem;
  }
}

/*
headers
 */

.h1,
.h2 {
  @extend %roboto-medium;

  line-height: 1.5;
  text-transform: none;
  font-size: 1.5rem;
  margin-bottom: .5rem;

  @include from-breakpoint(lg) {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &--soft {
    font-weight: 500;
    text-transform: none;
  }
}

.h3,
.h4,
.h5,
.h6 {
  @extend %roboto-medium;

  line-height: 1.5;
}

.h2 {
  font-size: 1.5rem;

  @include from-breakpoint(lg) {
    font-size: 2.5rem;
  }
}

.h3 {
  font-size: 1.25rem;

  @include from-breakpoint(lg) {
    font-size: 1.625rem;
  }
}

.h4 {
  font-size: .8rem;
  text-transform: uppercase;
  color: $blue;
  background-color: $bg-cold;
  border-radius: 4px;
  padding: 4px 8px;
}

.h5 {
  font-size: 1rem;
  line-height: 1.3;

  @include from-breakpoint(lg) {
    font-size: 1.25rem;
  }
}

.h6 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

/*
button
 */

.btn {
  @extend %acumin-semibold;

  font-size: 1rem;
}

// acumin-semibold 14px seo headers
// acumin-regular 14px seo links
