// colors

$blue: #274957;
$light-blue: #68ADCF;
$lighter-blue: #BBFAFF;
$lightest-blue: #DEFFFE;
$dull-blue: #5A95B3;
$bg-blue: #4A7D94;
$bg-cool: #FBFFF0;
$bg-cold: #f0ffff;
$pale-yellow: #FBFFDB;
$yellow: #feffa0;

$active: $bg-cool;

// global

$btn-secondary-box-shadow: inset 0 0 0 1px $dull-blue;

// bootstrap overrides

$primary: #efff00;
$secondary: #70F3FF;
$warning: #ff7524;
$danger: #ff97a9; // less saturated for blue backgrounds
$danger-bg-light: #ff6a71; // more saturated danger for light backgrounds

$link-color: $pale-yellow;

$body-bg: $bg-blue;
$body-color: $lightest-blue;

$table-head-bg: $light-blue;
$table-border-color: $light-blue;
$table-head-color: $blue;

$nav-tabs-border-width: 0;

$font-family-base: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
