// colors
$blue: #274957;
$light-blue: #68ADCF;
$lighter-blue: #BBFAFF;
$lightest-blue: #DEFFFE;
$dull-blue: #5A95B3;
$pale-yellow: #FBFFDB;

$dark-green: #359e5a;
$light-green: #f1f6eb;

$dark-grey: #343a40;
$kelly-green: #008c5e;
$orange: #fb9e19;
$red: #e94b1a;

// global
$btn-secondary-box-shadow: inset 0 0 0 1px $dull-blue;

// bootstrap theme overrides
$danger: $red;
$link-color: $blue;
$primary: $dull-blue;
$warning: $orange;

// overrides
$body-color: #3a3a3a;
$font-family-base: "filson-soft", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-base: 0.9375rem;
$font-weight-base: 300;
$nav-tabs-border-width: 0;
$nav-tabs-link-active-color: $body-color;
$light: #fefefe;
$table-head-bg: $light-blue;
$table-border-color: $light-blue;
$table-head-color: $dark-grey;