/*
typekit font styles
 */
@import url("https://use.typekit.net/tmq0jyv.css");
/*
bootstrap variable overrides come before bootstrap
 */
@import './variables';

/*
cherry-picked bootstrap imports
 */
@import './bootstrap';

/*
the rest of our styles
 */
@import './mixins';
@import './typography';
@import './breadcrumbs';
@import './footer';
@import './nav';
@import './steps';
@import './about';
@import './home';
@import './modal';
@import './forms';
@import './tabs';
@import './returns';
@import './security';
@import '../js/shared/file/file';
@import '../js/expense-manager/custom-expense-manager';
@import '../js/upload-manager/upload-manager';
@import '../js/shared/step-form/step-form-step/step-form-step';

/*
global styles
 */

a:hover {
  text-decoration: none;
}

.tx-body {
  @extend %roboto-regular;

  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.btn {
  @extend %acumin-semibold;

  letter-spacing: 1px;
  padding: 8px 28px;
  text-transform: uppercase;
}

.btn-primary {
  color: $bg-blue;

  @include hover {
    background-color: #ffeb00;
    border-color: #ffeb00;
  }

  &:hover {
    color: $bg-blue;
  }
}

.btn-warning,
.btn-danger {
  color: $pale-yellow;

  &:hover {
    color: $yellow;
  }
}

.btn-secondary {
  @include button-variant($white, $dull-blue, lighten($dull-blue, 42%), darken($dull-blue, 10%), lighten($dull-blue, 42%), darken($dull-blue, 12.5%));

  @include hover {
    box-shadow: $btn-secondary-box-shadow;
    color: darken($dull-blue, 10%);
  }

  box-shadow: $btn-secondary-box-shadow;
  color: $dull-blue;

  &:focus,
  &.focus {
    box-shadow: $btn-secondary-box-shadow;
  }

  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled).active,
  .show > &.dropdown-toggle {
    box-shadow: $btn-secondary-box-shadow;
    color: darken($dull-blue, 10%);
  }
}

.alert {
  font-size: 15px;

  ul {
    margin: .5rem 0;
  }
}

.alert-info {
  color: $blue;
}

.alert-danger {
  @extend %acumin-semibold;

  color: $red;
  font-size: 13px;
}

.tx-full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.tx-underline {
  border-bottom: 2px solid $light;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-group-item {
  background-color: $bg-cool;
  color: $blue;
  border-color: $bg-blue;

  a {
    color: $bg-blue;
  }
}

.list-group-item-action {
  color: $blue;
}

.alert-success {
  color: $blue;
  background-color: $yellow;
  border-color: $yellow;
}

.table {
  font-size: .9375rem;
}

.table th {
  border-bottom: 0;
  border-top: 0;
}

.table .thead-light th {
  color: $blue;
  font-weight: normal;
}

table th:first-child {
  border-radius: 10px 0 0 0;
}

table th:last-child {
  border-radius: 0 10px 0 0;
}

.card {
  background-color: $blue;
}
