.asteriskField {
  color: $secondary;
  padding-left: .2rem;
}

.tx-form-btn {
  margin-top: 12px;
}

.invalid-feedback-checkbox{
  display: block;
  margin-top: .25rem;
  font-size: .875rem;
  color: #dc3545
}

.form-check-input {
  position: relative;
  margin-top: $form-check-input-margin-y;
  margin-left: 0;
}

.form-check-label {
  padding-left: .5rem;
}

.tx-anchor-button {
  background: none!important;
  border: none;
  padding: 0!important;
  font: inherit;
  cursor: pointer;
  color: $link-color;
}

//hide spinner on numeric inputs
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}