{% extends 'av_clients/return.html' %}

{% load django_bootstrap_breadcrumbs table %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Dependents" "client-detail-return-dependents" year %}
{% endblock %}

{% block content %}

  <h1 class="h1">Dependents</h1>

  {% if not return.dependent_set.all %}
    <p>Once {{ client }} enters dependents, they will be listed here.</p>
  {% endif %}

  {% for person in return.dependent_set.all %}

      <h4 class="h4">{{ person.get_relationship_display }}</h4>

      <table class="table dictionary-table mt-4">
        <tbody>
        <tr>
          <td>Last name</td>
          <td>{{ person.last_name }}</td>
        </tr>
        <tr>
          <td>First name</td>
          <td>{{ person.first_name }}</td>
        </tr>
        <tr>
          <td>Middle name</td>
          <td>{{ person.middle_name }}</td>
        </tr>
        <tr>
          <td>Date of birth</td>
          <td>{{ person.dob|date:'SHORT_DATE_FORMAT' }}</td>
        </tr>
        <tr>
          <td>Social Security Number</td>
          <td>{{ person.ssn }}</td>
        </tr>
        </tbody>
      </table>

  {% endfor %}

{% endblock %}
