{% extends 'base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Clients" "clients" %}
  {% breadcrumb client.get_full_name "client-detail" client.email %}
{% endblock %}

{% block content %}
  {{ block.super }}

  <h1 class="h1">{{ client.first_name }} {{ client.last_name }}</h1>
  <h2>{{ client.email }}</h2>

  <p>dob: {{ client.dob|date:'SHORT_DATE_FORMAT' }}</p>
  <p>ssn: {{ client.ssn }}</p>

  <p>address1: {{ client.address.address1 }}</p>
  <p>etc.</p>

  <p>routing: {{ client.bank.routing }}</p>
  <p>account: {{ client.bank.account }}</p>

  <h3>Tax Years</h3>
  <ul>
    {% for return in client.return_set.all %}
      <li><a href="{% url 'client-detail-return' client.email return.year %}">{{ return.year }}</a></li>
    {% endfor %}
  </ul>

  <button class="btn btn-primary">Export</button>

{% endblock %}
