{% extends 'av_clients/clients_base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  {{ block.super }}

  <h1>Import {% if users %}Preview{% endif %}</h1>

  {% if users %}
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Note</th>
      </tr>
      </thead>
      {% for user in users %}
        <tr {% if user.existing or user.malformed or user.duplicate %}class="text-danger"{% endif %}>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td>
            {% if user.existing %}Previously imported{% endif %}
            {% if user.malformed %}Incorrect format{% endif %}
            {% if user.duplicate %}Duplicate entry{% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  {% crispy form %}

{% endblock %}