{% extends 'av_clients/clients_base.html' %}

{% block content %}
  {{ block.super }}

  <h1>Clients</h1>

  <table class="table">
    <thead class="thead-light">
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Email</th>
      <th>Registered</th>
    </tr>
    </thead>
    {% for client in object_list %}
      <tr>
        <td><a href="{% url 'client-detail' client.email %}">{{ client.last_name }}</a></td>
        <td><a href="{% url 'client-detail' client.email %}">{{ client.first_name }}</a></td>
        <td><a href="{% url 'client-detail' client.email %}">{{ client.email }}</a></td>
        <td>{% if client.password %} √ {% endif %}</td>
      </tr>
    {% empty %}
      <tr><td>You haven't invited any clients yet.</td></tr>
    {% endfor %}
  </table>

{% endblock %}