{% extends 'av_clients/detail.html' %}

{% load django_bootstrap_breadcrumbs table %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb year 'client-detail-return' client.email year %}
{% endblock %}

{% block tabs %}

  {% url 'client-detail-return-expenses' client.email year as expenses %}
  {% url 'client-detail-return-uploads' client.email year as uploads %}
  {% url 'client-detail-return-spouse' client.email year as spouse %}
  {% url 'client-detail-return-dependents' client.email year as dependents%}
  {% url 'client-detail-return-returns' client.email year as returns %}

  <div class="tx-full-width tx-nav-tabs">
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == expenses %}active{% endif %}" href="{{ expenses }} ">
            <div class="tx-nav-icon">
              <i class="far fa-credit-card"></i>
              <span>Expenses</span>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == uploads %}active{% endif %}" href="{{ uploads }} ">
            <div class="tx-nav-icon">
              <i class="far fa-file"></i>
              <span>Uploads</span>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == spouse %}active{% endif %}" href="{{ spouse }} ">
            <div class="tx-nav-icon">
              <i class="fas fa-user-friends"></i>
              <span>Spouse</span>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == dependents %}active{% endif %}" href="{{ dependents }} ">
            <div class="tx-nav-icon">
              <i class="fas fa-users"></i>
              <span>Dependents</span>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == returns %}active{% endif %}" href="{{ returns }} ">
            <div class="tx-nav-icon">
              <i class="far fa-file-alt"></i>
              <span>Tax Return</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}

{% block content %}

  <h1 class="h1">Tax Year {{ year }}</h1>

  <table class="table dictionary-table mt-4">
    <tbody>
    <tr>
      <td>Filing status</td>
      <td>{{ return.get_filing_status_display }}</td>
    </tr>
    <tr>
      <td>Is dependent</td>
      <td>{{ return.is_dependent }}</td>
    </tr>
    <tr>
      <td>County</td>
      <td>{{ return.county }}</td>
    </tr>
    </tbody>
  </table>

{% endblock %}
