{% extends 'av_clients/return.html' %}

{% load django_bootstrap_breadcrumbs table %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Spouse" "client-detail-return-spouse" year %}
{% endblock %}

{% block content %}

  <h1 class="h1">Spouse</h1>

  {% if return.spouse %}

  <table class="table dictionary-table mt-4">
    <tbody>
    <tr>
      <td>Last name</td>
      <td>{{ return.spouse.last_name }}</td>
    </tr>
    <tr>
      <td>First name</td>
      <td>{{ return.spouse.first_name }}</td>
    </tr>
    <tr>
      <td>Middle name</td>
      <td>{{ return.spouse.middle_name }}</td>
    </tr>
    <tr>
      <td>Date of birth</td>
      <td>{{ return.spouse.dob|date:'SHORT_DATE_FORMAT' }}</td>
    </tr>
    <tr>
      <td>Social Security Number</td>
      <td>{{ return.spouse.ssn }}</td>
    </tr>
    </tbody>
  </table>

  {% else %}

    <p>Once {{ client }} enters a spouse, spousal info will be appear here.</p>

  {% endif %}

{% endblock %}
