{% extends 'returns/return_detail.html' %}

{% load django_bootstrap_breadcrumbs crispy_forms_tags %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Expenses" "expenses" year %}
{% endblock %}

{% block tabs %}

  {% url 'expenses-common' year as common %}
  {% url 'expenses-custom' year as custom %}

  <div class="tx-full-width tx-nav-tabs">
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a
            class="nav-link {% if request.get_full_path == common %}active{% endif %}"
            href="{% url 'expenses-common' year %} "
          >
            Common
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.get_full_path == custom %}active{% endif %}"
            href="{% url 'expenses-custom' year %} "
          >
            Custom
          </a>
        </li>
      </ul>
    </div>
  </div>

{% endblock tabs %}