{% extends 'account_base.html' %}

{% block content %}
  {{ block.super }}

  <h1 class="h1">Change Subscription Plan</h1>

  <p class="pb-4">Select a new plan below, opting for discounted yearly or regular monthly billing.</p>

  <form method="post">{% csrf_token %}
    <div class="card-deck mb-3 text-center">

      {% for plan in plans %}

        <div class="card mb-4 box-shadow {% if plan.metadata.disabled %}disabled{% endif %}">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ plan.metadata.name }}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">${{ plan.amount }}
              <small class="text-muted">/ mo</small>
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>{{ plan.metadata.max_cpa }} firm member{{ plan.metadata.max_cpa|pluralize }}</li>
              <li>{{ plan.metadata.max_client }} clients</li>
              <li>{{ plan.metadata.support }} support</li>
            </ul>
            <input name="y{{ plan.metadata.post }}" type="submit" value="Yearly" class="btn btn-lg btn-block btn-primary" {% if  plan.metadata.disabled %}disabled{% endif %}/>
            <input name="m{{ plan.metadata.post }}" type="submit" value="${{ plan.metadata.monthly }} Monthly" class="btn btn-lg btn-block btn-secondary" {% if plan.metadata.disabled %}disabled{% endif %}/>
          </div>
        </div>

      {% endfor %}

    </div>
  </form>

  <p>You are currently using {{ cpa_count }} firm accounts and {{ client_count }} client accounts.</p>

  <p>If you would like to cancel your plan, please <a href="{% url 'contact' %}">contact us.</a></p>

  <a href="{% url 'plan' %}">← Back</a>

{% endblock %}