{% extends 'base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Profile" "profile" %}
{% endblock %}

{% block tabs %}

  {% url 'identity' as identity %}
  {% url 'address' as address %}
  {% url 'banking' as banking %}

  <div class="tx-full-width tx-nav-tabs">
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == identity %}active{% endif %}" href="{% url 'identity' %} ">Identity</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == address %}active{% endif %}" href="{% url 'address' %} ">Address</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.get_full_path == banking %}active{% endif %}" href="{% url 'banking' %} ">Banking Info</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}